In [1]:
import csv
import datetime as DT
import numpy as np
import pandas as pd

In [2]:
fmt = '%Y.%m.%d'
with open('sched_teams.csv', 'r') as f:
    reader = csv.reader(f)
    date_game_records = list(reader)

In [3]:
list_of_all_teams = []
for record in date_game_records:
  for element in record:
    if element != '' and element not in list_of_all_teams and element[-1].isalpha():
      list_of_all_teams.append(element)

In [4]:
#list_of_all_teams

In [5]:
datelist = pd.date_range("2017-10-15", periods=174).tolist()

In [6]:
dates = list((dobj.date().strftime('%Y-%m-%d') for dobj in datelist))

In [7]:
df = pd.DataFrame(index=list_of_all_teams, columns=dates)

In [8]:
def date_conv(day):
  # Oct = 10
  if day[1:2] == 'O':
    if day[-2:-1] == ' ':
      ds = "2017-10-0{}".format(day[-1:])
    else:
      ds = "2017-10-{}".format(day[-2:])
  # Nov = 11
  if day[1:2] == 'N':
    if day[-2:-1] == ' ':
      ds = "2017-11-0{}".format(day[-1:])
    else:
      ds = "2017-11-{}".format(day[-2:])
  # Dec = 12
  if day[1:2] == 'D':
    if day[-2:-1] == ' ':
      ds = "2017-12-0{}".format(day[-1:])
    else:
      ds = "2017-12-{}".format(day[-2:])
  # Jan = 01
  if day[1:2] == 'J':
    if day[-2:-1] == ' ':
      ds = "2018-01-0{}".format(day[-1:])
    else:
      ds = "2018-01-{}".format(day[-2:])
  # Feb = 02
  if day[1:2] == 'F':
    if day[-2:-1] == ' ':
      ds = "2018-02-0{}".format(day[-1:])
    else:
      ds = "2018-02-{}".format(day[-2:])
  # Mar = 03
  if day[1:2] == 'M':
    if day[-2:-1] == ' ':
      ds = "2018-03-0{}".format(day[-1:])
    else:
      ds = "2018-03-{}".format(day[-2:])
  # Apr = 04
  if day[1:2] == 'A':
    if day[-2:-1] == ' ':
      ds = "2018-04-0{}".format(day[-1:])
    else:
      ds = "2018-04-{}".format(day[-2:])
  return ds

In [9]:
for record in date_game_records:
    for element in record:
        if element in list_of_all_teams:
            df.loc[element, date_conv(record[0])] = 1

In [10]:
df.head()

,2017-10-15,2017-10-16,2017-10-17,2017-10-18,2017-10-19,2017-10-20,2017-10-21,2017-10-22,2017-10-23,2017-10-24,...,2018-03-29,2018-03-30,2018-03-31,2018-04-01,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-07
Boston,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN,...,1,NaN,1,1,NaN,1,NaN,1,NaN,1.0
Vegas,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,...,NaN,1,1,NaN,NaN,1,NaN,1,NaN,1.0
Buffalo,1,NaN,1,NaN,NaN,1,1,NaN,NaN,1,...,1,NaN,1,NaN,1,NaN,1,NaN,1,1.0
Anaheim,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,...,NaN,1,NaN,1,NaN,NaN,1,NaN,1,1.0
NY Islanders,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN,1,...,NaN,1,1,NaN,NaN,1,NaN,1,NaN,1.0

In [11]:
df.fillna(0, inplace=True)

In [12]:
import seaborn as sns
import matplotlib
%matplotlib inline

In [13]:
octdatelist = pd.date_range(start="2017-10-16", end="2017-10-31").tolist()
novdatelist = pd.date_range("2017-11-01", periods=30).tolist()
decdatelist = pd.date_range("2017-12-01", periods=31).tolist()
jandatelist = pd.date_range("2018-01-01", periods=31).tolist()
febdatelist = pd.date_range("2018-02-01", periods=28).tolist()
mardatelist = pd.date_range("2018-03-01", periods=31).tolist()
aprdatelist = pd.date_range("2018-04-01", periods=7).tolist()

In [14]:
octdates = list((dobj.date().strftime('%Y-%m-%d') for dobj in octdatelist))
novdates = list((dobj.date().strftime('%Y-%m-%d') for dobj in novdatelist))
decdates = list((dobj.date().strftime('%Y-%m-%d') for dobj in decdatelist))
jandates = list((dobj.date().strftime('%Y-%m-%d') for dobj in jandatelist))
febdates = list((dobj.date().strftime('%Y-%m-%d') for dobj in febdatelist))
mardates = list((dobj.date().strftime('%Y-%m-%d') for dobj in mardatelist))
aprdates = list((dobj.date().strftime('%Y-%m-%d') for dobj in aprdatelist))

In [15]:
df_consec = df
for team in list_of_all_teams:
    df_consec.loc[team] = df.loc[team] * (df.loc[team].groupby((df.loc[team] != df.loc[team].shift()).cumsum()).cumcount() + 1)

In [16]:
for team in list_of_all_teams:
    print(df_consec.loc[team].value_counts())

0.0    97
1.0    65
2.0    13
Name: Boston, dtype: int64
0.0    97
1.0    67
2.0    11
Name: Vegas, dtype: int64
0.0    98
1.0    62
2.0    15
Name: Buffalo, dtype: int64
0.0    98
1.0    66
2.0    11
Name: Anaheim, dtype: int64
0.0    98
1.0    63
2.0    14
Name: NY Islanders, dtype: int64
0.0    97
1.0    65
2.0    13
Name: Los Angeles, dtype: int64
0.0    98
1.0    65
2.0    12
Name: Tampa Bay, dtype: int64
0.0    98
1.0    66
2.0    11
Name: Detroit, dtype: int64
0.0    99
1.0    59
2.0    17
Name: Pittsburgh, dtype: int64
0.0    99
1.0    67
2.0     9
Name: NY Rangers, dtype: int64
0.0    97
1.0    64
2.0    14
Name: Florida, dtype: int64
0.0    98
1.0    63
2.0    14
Name: Philadelphia, dtype: int64
0.0    98
1.0    63
2.0    14
Name: Toronto, dtype: int64
0.0    99
1.0    63
2.0    13
Name: Washington, dtype: int64
0.0    98
1.0    62
2.0    15
Name: New Jersey, dtype: int64
0.0    97
1.0    68
2.0    10
Name: Vancouver, dtype: int64
0.0    98
1.0    59
2.0    18
Name: Ottawa, dtype: int64
0.0    99
1.0    66
2.0    10
Name: Colorado, dtype: int64
0.0    98
1.0    66
2.0    11
Name: Nashville, dtype: int64
0.0    98
1.0    62
2.0    15
Name: Columbus, dtype: int64
0.0    98
1.0    68
2.0     9
Name: Winnipeg, dtype: int64
0.0    98
1.0    64
2.0    13
Name: Arizona, dtype: int64
0.0    98
1.0    66
2.0    11
Name: Dallas, dtype: int64
0.0    96
1.0    61
2.0    18
Name: Carolina, dtype: int64
0.0    97
1.0    67
2.0    11
Name: Edmonton, dtype: int64
0.0    98
1.0    64
2.0    13
Name: Montr̩al, dtype: int64
0.0    97
1.0    64
2.0    14
Name: San Jose, dtype: int64
0.0    99
1.0    60
2.0    16
Name: Chicago, dtype: int64
0.0    99
1.0    61
2.0    15
Name: St. Louis, dtype: int64
0.0    99
1.0    65
2.0    11
Name: Calgary, dtype: int64
0.0    97
1.0    63
2.0    15
Name: Minnesota, dtype: int64

In [21]:
next_10_days = df_consec.loc[['Carolina', 'Buffalo', 'Calgary', 'Tampa Bay', 'Montr̩al', 'Toronto', 'Columbus', 'New Jersey', 'Minnesota', 'Philadelphia', 'Pittsburgh', 'St. Louis']][dates[3:15]]
df_consec[dates[:15]].sum(axis=1).sort_values(ascending=False)

Buffalo         9.0
Pittsburgh      9.0
St. Louis       8.0
Chicago         8.0
Tampa Bay       8.0
Carolina        8.0
Washington      8.0
Los Angeles     8.0
Vancouver       7.0
Ottawa          7.0
Florida         7.0
Toronto         7.0
New Jersey      7.0
Calgary         7.0
Columbus        7.0
Nashville       7.0
Anaheim         7.0
Dallas          7.0
Montr̩al        7.0
San Jose        7.0
Detroit         7.0
NY Islanders    6.0
Minnesota       6.0
NY Rangers      6.0
Philadelphia    6.0
Colorado        6.0
Winnipeg        6.0
Arizona         6.0
Edmonton        6.0
Vegas           5.0
Boston          5.0
dtype: float64

In [18]:
df_consec[octdates].sum(axis=1).sort_values(ascending=False)

St. Louis       9.0
Pittsburgh      9.0
Tampa Bay       9.0
Arizona         9.0
Vancouver       8.0
Columbus        8.0
Toronto         8.0
Washington      8.0
Detroit         8.0
Ottawa          8.0
Los Angeles     8.0
Buffalo         8.0
Florida         8.0
Dallas          8.0
Carolina        8.0
Montr̩al        8.0
San Jose        8.0
Chicago         8.0
Vegas           7.0
NY Rangers      7.0
Minnesota       7.0
Philadelphia    7.0
New Jersey      7.0
Calgary         7.0
Nashville       7.0
Winnipeg        7.0
Colorado        6.0
NY Islanders    6.0
Anaheim         6.0
Edmonton        6.0
Boston          5.0
dtype: float64

In [1]:
df_consec[novdates].sum(axis=1).sort_values(ascending=False)

NameError: name 'df_consec' is not defined

In [ ]:
for team in list_of_all_teams:
    print(df_consec.loc[team, dates[3:15]].value_counts())